<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
" xmlns:aop="http://www.springframework.org/schema/aop">
    
    <!-- 
        Based on a great how-to from mkyong:
        http://www.mkyong.com/spring/spring-jdk-timer-scheduler-example/ 
     -->

<!--    <bean id="serverMonitoring" class="cz.crmf.scheduler.ServerMonitoring" />
    
    <bean id="schedulerTask" class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
        <property name="targetObject" ref="serverMonitoring" />
        <property name="targetMethod" value="ping" />        
    </bean>
    
    <bean id="timerTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
        <property name="timerTask" ref="schedulerTask" />
        <property name="delay" value="1000" />
        <property name="period" value="60000" />
    </bean>

    <bean class="org.springframework.scheduling.timer.TimerFactoryBean">
        <property name="scheduledTimerTasks">
            <list>
                <ref local="timerTask" />
            </list>
        </property>
    </bean>-->

</beans>
